@import "../scss/variables.scss";

#add-products {
  font-family: $font-family;
  .modal-content {
    width: 582px;
    border: 0;
    border-radius: 0;
    background-color: #f7f7fa;
  }

  .add-products-title {
    margin-top: 17px;
    font-size: 20px;
    font-weight: 600;
    color: $font-color;
    margin-bottom: 20px;
  }

  .add-product {
    width: 80%;
    margin: 20px auto;
    &-field {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-label {
      font-size: 14px;
      color: $font-color-2;
    }
    &-input {
      width: 347px;
      height: 40px;
      border: 1px solid #e0e0e0;
      padding: 8px 0px 10px 22px;
      font-size: 14px;
      font-weight: 400;
      color: $font-color;
      outline: none;
    }
    .warranty {
      font-size: 14px;
      font-weight: 400;
      color: $font-color;
      outline: none;
      margin-left: 26%;
      margin-bottom: 10px;
      margin-top: 21px;
      display: flex;
      align-items: center;
      &-input {
        margin-right: 5px;
        cursor: pointer;
      }
      &-label {
        cursor: pointer;
      }
    }
    .image {
      margin-top: 30px;
      margin-left: 26%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .image-btn-div {
        .image-btn {
          border: 1px solid #bdbdbd;
          border-radius: 4px;
          background-color: #f7f7fa;
          padding: 10px 6px 10px 15px;
          font-size: 16px;
          font-weight: 600;
          color: $font-color;
          outline: none;
          cursor: pointer;
          .image-btn-icon {
            font-size: 24px;
            padding: 2px 4px;
            border-radius: 50%;
            background-color: #e0e0e0;
            margin-right: 7px;
          }
        }
      }
      .preview {
        .preview-image {
          width: 130px;
          height: 130px;
        }
      }
    }
  }
}
