@import "./font.scss";

$font-family: "Open Sans", sans-serif;

$color-1: #045692;
$color-2: #0f75bc;

$color-header-1: #2b5876;
$color-header-2: #464776;

$color-btn-primary: #1890ff;
$color-btn-secondary: #eb5757;
